# -*- coding: utf-8 -*-
from imp import reload

whitelist = [
    (99, ["nick1","nick2"]),
]

adminlist = [
    (1000, ":nick!~ident@blah.blah.ip.blah"),
]

names = [
    (["name1","name2"], "Name"),
]

